In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_path = '/Users/bryanwenger/Desktop/Desktop_Master/Coding/github_projects/fantasy_football/Prep_Work/data_sets/2022_data.csv'

In [3]:
#Reading in file and removing Div/0 values. The CSV is a working file and will have these until the season is complete.  
data = pd.read_csv(file_path, na_values=['#VALUE!', '#DIV/0!'])

In [4]:
data.head()

,Player,Position,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,...,Week 10,Week 11,Week 12,Week 13,Week 14,Rd 1,Rd 2,Rd 3,Totals,Average
0,"Herbert, Justin",QB,23.26,23.46,12.58,21.1,14.42,8.42,18.12,NaN,...,12.4,18.7,28.76,18.1,NaN,NaN,NaN,NaN,211.42,17.62
1,"Elliott, Ezekiel",RB,4.90,4.90,13.50,8.1,7.80,14.60,17.70,NaN,...,NaN,16.7,15.50,15.1,NaN,NaN,NaN,NaN,118.80,11.88
2,"Mitchell, Elijah",RB,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.10,4.10
3,"Diggs, Stefon",WR,18.20,32.80,7.40,6.2,16.20,20.80,NaN,16.8,...,12.8,10.8,13.70,15.2,NaN,NaN,NaN,NaN,180.20,15.02
4,"Evans, Mike",WR,14.10,6.10,NaN,22.3,8.10,4.20,9.60,12.3,...,5.4,NaN,3.10,5.9,NaN,NaN,NaN,NaN,95.10,8.65

In [10]:
df = pd.DataFrame(data)

In [12]:
data13 = df.drop(['Week 14', 'Rd 1', 'Rd 2', 'Rd 3'], axis=1)

In [13]:
data13.head()

,Player,Position,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Totals,Average
0,"Herbert, Justin",QB,23.26,23.46,12.58,21.1,14.42,8.42,18.12,NaN,12.1,12.4,18.7,28.76,18.1,211.42,17.62
1,"Elliott, Ezekiel",RB,4.90,4.90,13.50,8.1,7.80,14.60,17.70,NaN,NaN,NaN,16.7,15.50,15.1,118.80,11.88
2,"Mitchell, Elijah",RB,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.10,4.10
3,"Diggs, Stefon",WR,18.20,32.80,7.40,6.2,16.20,20.80,NaN,16.8,9.3,12.8,10.8,13.70,15.2,180.20,15.02
4,"Evans, Mike",WR,14.10,6.10,NaN,22.3,8.10,4.20,9.60,12.3,4.0,5.4,NaN,3.10,5.9,95.10,8.65

In [14]:
data13.dtypes

Player       object
Position     object
Week 1      float64
Week 2      float64
Week 3      float64
Week 4      float64
Week 5      float64
Week 6      float64
Week 7      float64
Week 8      float64
Week 9      float64
Week 10     float64
Week 11     float64
Week 12     float64
Week 13     float64
Totals      float64
Average     float64
dtype: object

In [16]:
data13.to_csv('/Users/bryanwenger/Desktop/Desktop_Master/Coding/github_projects/fantasy_football/Prep_Work/data_sets/wk13_data.csv')